.friendListContainer {
   position: relative;
   min-width: 480px;
   height: 500px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 10px;
}

.title {
   text-align: center;
   padding: 5px 0;
   background-color: hsl(183, 100%, 15%);
   font-family: 'Pacifico', cursive;
   letter-spacing: 5px;
   border-radius: 10px;
   color: white;
}

.searchBox {
   text-align: center;
   padding: 15px;
   margin-bottom: 10px;
}

.searchBox input {
   width: 85%;
   font-size: 16px;
   border: none;
   padding: 12px 10px;
   letter-spacing: 1.5px;
   background-color: hsl(185, 41%, 84%);
   border-radius: 20px;
   font-weight: 600;
   color: hsl(183, 100%, 15%);
}

.searchBox input:focus {
   border: none;
   outline: none;
}

.friendListItems-ul {
   list-style-type: none;
   margin-bottom: 30px;
}

.friendListItems-ul li {
   margin: 5px auto;
   width: 95%;
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 8px 15px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
}

.friendListItemsContent strong {
   margin: 5px 0;
   display: inline-block;
   letter-spacing: 1px;
   color: rgb(32, 32, 32);
}

.friendListItemsContent span {
   font-size: 12px;
   letter-spacing: 1px;
   color: gray;
}

.friendListItemsActions button {
   margin: 0 5px;
   padding: 5px;
   background-color: hsl(185, 41%, 84%);
   border-radius: 8px;
   border: none;
   cursor: pointer;
}

/*  */
/* Pagination */
/*  */

.pagination-bar {
   width: 100%;
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 5%;
}

.pagination-container {
   display: flex;
   list-style-type: none;
}

.pagination-item {
   padding: 0 12px;
   height: 32px;
   text-align: center;
   margin: auto 4px;
   color: rgba(0, 0, 0, 0.87);
   display: flex;
   box-sizing: border-box;
   align-items: center;
   letter-spacing: 0.01071em;
   border-radius: 16px;
   line-height: 1.43;
   font-size: 13px;
   min-width: 32px;
}

.pagination-item.dots:hover {
   background-color: transparent;
   cursor: pointer;
}

.pagination-item:hover {
   background-color: transparent;
   cursor: pointer;
}

.pagination-item.selected {
   background-color: hsl(183, 100%, 15%);
   color: white;
}

.pagination-item.arrow::before {
   position: relative;
   content: '';
   display: inline-block;
   width: 0.4em;
   height: 0.4em;
   border-right: 0.12em solid rgba(0, 0, 0, 0.87);
   border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pagination-item.arrow.left {
   transform: rotate(-135deg) translate(-50%);
}

.pagination-item.arrow.right {
   transform: rotate(45deg);
}

.pagination-item.disabled {
   pointer-events: none;
}

.pagination-item.disabled .arrow::before {
   border-right: 0.12em solid rgba(0, 0, 0, 0.43);
   border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-item.disabled:hover {
   background-color: transparent;
   cursor: default;
}

/*  */
/* Popup */
/*  */
.popup-box {
   position: fixed;
   background: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
}

.box {
   position: relative;
   display: inline-block;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: auto;
}

.deletePopup {
   width: 350px;
   height: 180px;
   background-color: hsl(185, 41%, 84%);
   border-radius: 10px;
   padding: 20px;
   text-align: center;
}

.modalActionButtons {
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
}

.modalActionButtons button {
   width: 100px;
   padding: 7px;
   border: none;
   background-color: hsl(183, 100%, 15%);
   color: white;
   letter-spacing: 1px;
   font-size: 15px;
   cursor: pointer;
   border-radius: 8px;
}
